av
addict
einops
future
numpy
scipy
opencv-python
matplotlib
scikit-image
torch==2.6.0 --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
intel-extension-for-pytorch --extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/cn/
imageio-ffmpeg
pyyaml
requests
timm
yapf
